@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto);
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: "Roboto", sans-serif; }

h1, h2, h3 {
  font-family: "Arvo", sans-serif;
  font-weight: 700; }

h3 {
  color: #555555; }

footer {
  background-color: #eeeeee;
  color: #888888; }

.jumbotron {
  margin-bottom: 0; }

.ce-section {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #cccccc;
  background-color: white; }

.ce-feature-icons .ce-feature-icon {
  border: 1px solid #eeeeee;
  padding: 12px;
  margin-bottom: 12px; }

.ce-secondary-text {
  font-style: italic; }

.ce-event-details table.ce-logistics {
  margin-bottom: 12px; }
  .ce-event-details table.ce-logistics td {
    padding: 6px; }
  .ce-event-details table.ce-logistics tr td:first-child {
    text-align: right; }
  .ce-event-details table.ce-logistics tr td:nth-child(2) {
    font-weight: bold; }
