/* Move down content because we have a fixed navbar that is 50px tall */
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic)
@import url(http://fonts.googleapis.com/css?family=Roboto)

$background-color: #eeeeee
$neutral-color: #cccccc
$primary-color: #F25405
$secondary-color: #9BE0EB
$tertiary-color: #555555

$font-giant: 200%
$font-super-giant: 250%
$space: 12px

body
  padding-top: 50px
  padding-bottom: 20px
  font-family: 'Roboto', sans-serif

h1, h2, h3
  font-family: 'Arvo', sans-serif
  font-weight: 700
h3 
  color: $tertiary-color  

.jumbotron
  margin-bottom: 0

.ce-section
  padding-top: 50px
  padding-bottom: 50px

  border-top: 1px solid $neutral-color
  background-color: #fff

.ce-feature-icons
  .ce-feature-icon
    border: 1px solid $background-color
    padding: $space
    margin-bottom: $space

.ce-secondary-text
  font-style: italic

.ce-event-details
  table.ce-logistics
    margin-bottom: $space

    td
      padding: $space / 2
    tr
      td:first-child
        text-align: right
      td:nth-child(2)
        font-weight: bold