/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px; }

h3 {
  color: #555555; }

.ce-section {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #cccccc;
  background-color: white; }

.ce-feature-icons .ce-feature-icon {
  border: 1px solid #eeeeee;
  padding: 12px;
  margin-bottom: 12px; }
