/* Move down content because we have a fixed navbar that is 50px tall */
$background-color: #eeeeee
$neutral-color: #cccccc
$primary-color: #F25405
$tertiary-color: #555555

$font-giant: 200%
$font-super-giant: 250%
$space: 12px

body
  padding-top: 50px
  padding-bottom: 20px

h3 
  color: $tertiary-color  

.ce-section
  padding-top: 50px
  padding-bottom: 50px

  border-top: 1px solid $neutral-color
  background-color: #fff

.ce-feature-icons
  .ce-feature-icon
    border: 1px solid $background-color
    padding: $space
    margin-bottom: $space

