---
layout: default
title: Code Equality
---

      <section id="home" class="jumbotron">
        <div class="container">
          <!-- <h1>CodeEquality == Education</h1>
        -->
        <img class="logo img-responsive" src="img/logo_alt_2.png" height="80px" alt="Code Equality logo"/>
        <p>
          Code Equality is a non-profit organization that aims to promote computer science awareness among young Malaysians.
        </p>
      </div>
    </section>

    <section id="events" class="ce-section ce-highlight-section">
      <div class="container">
        <h2>Events</h2>
        <p>
          If you'd like to attend any of them, please check the event descriptions for registration details. Want latest updates on our events? 

Sign up for our
          <a href="#mc_embed_signup">mailing list</a>
          .
        </p>

        <div class="clearfix"></div>
        {% include events.html %}
      </div>
    </section>

    <section id="about" class="ce-section">
      <div  class="container">
        <!-- <button class="btn ce-btn-logo-toggle">Toggle logo</button>
      -->
      <h2>About</h2>
      <div  class="row">
        <div class="col-md-4">
          <h3>What is Code Equality?</h3>
          <p>
            Code Equality is a non-profit initiative that aims to promote computer science among Malaysians, with the hope that those who gain 

early exposure would go on to pursue a career in tech.
          </p>

          <p>
            Our goals are two-fold:
            <ul class="strong">
              <li>
                Making computer science education more accessible to all Malaysians.
              </li>
              <li>Encouraging more women participation in computer science.</li>
            </ul>
          </p>
          <p>
            We believe in equal opportunities in learning computer science, hence our name -- Code Equality. As such, we strive to ensure our 

events are available to all.
          </p>
        </div>

        <div class="col-md-4">
          <h3>Who are we?</h3>
          <p>We're currently a team of two co-founders.</p>
          <p> <strong>Wunmin Wong</strong>
            Wunmin graduated from MIT in Management Science with minors in Energy and Economics. Her biggest regret is not majoring in Computer 

Science in university, hence she’s now turning that missed opportunity into a motivation to prevent other young Malaysians from having the same 

regret.
          </p>

          <p> <strong><a target="_blank" href="http://behance.net/piratefsh">Sher Minn Chong</a></strong> 
            Sher Minn graduated from the University of Wisconsin-Madison with a degree in Computer Science. She is a freelance web developer and designer. She's always excited about teaching programming, web development and design, 

hand-brewed coffee and bad puns. You can find her on
            <a target="_blank" href="http://twitter.com/piratefsh">Twitter</a>
            most days.
          </p>
        </div>

        <div class="col-md-4">
          <h3>How did we start?</h3>
          <p>
            Long story short: it was difficult talking to organizations and schools as two random people who want to offer programming courses. 

It made sense to build an organization to represent our objectives. So here we are.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="getinvolved" class="ce-section">
    <div class="container">
      <h2>Get involved</h2>
      <p>Like what we do? Have an idea for an event?</p>
      <p>
        If you're interested in getting involved with Code Equality, there are many ways you can help!
      </p>

      <div class="row ce-feature-icons">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class=" ce-feature-icon">
            <img class="img-responsive" src="img/get-involved-icons/ce-icons-involve-03.png" alt="Teach or talk"/>
            <p>
              <h4>Teach or talk.</h4>
              Regardless of whether you’re a coding ninja or a coding newb, if you have the enthusiasm to help others learn coding, teach a 

bootcamp with us or be a teaching assistant!
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class=" ce-feature-icon">
            <img class="img-responsive" src="img/get-involved-icons/ce-icons-involve-01.png" alt="Host an event"/>
            <p>
              <h4>Host an event.</h4>
              Invite us to your school or organization to hold a talk or bootcamp. We provide the content; you provide the venue.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class=" ce-feature-icon">
            <img class="img-responsive" src="img/get-involved-icons/ce-icons-involve-04.png" alt="Pitch an idea"/>
            <p>
              <h4>Pitch us an idea!</h4>
              Anything else you’d love us to organize? Let us know!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contactus" class="ce-section">
    <div class="container">
      <h2>Contact Us</h2>
      <p>
        Sign up for our mailing list to receive latest updates on our events!
      </p>
      <p>
        Questions about Code Equality? Want to find out more about our events? Want to get involved? Feel free to reach out to us via the 

following means:
        <ul class="ce-contact-list row">
          <li class="col-sm-6 col-md-4 ce-contact-list-item">
            <img class="ce-contact-icon" src="img/contact-icons/email.png"/>
            <a target="_blank" href="mailto:codeequality@gmail.com">Email codeequality@gmail.com</a>
          </li>
          <li class="col-sm-12 col-md-4 ce-contact-list-item">
            <img class="ce-contact-icon" src="img/contact-icons/fb.png"/>
            <a target="_blank" href="http://facebook.com/codeequality">CodeEquality on Facebook</a>
          </li>
          <li class="col-sm-6 col-md-4 ce-contact-list-item">
            <img class="ce-contact-icon" src="img/contact-icons/twitter.png"/>
            <a target="_blank" href="http://twitter.com/codeequality">@codeequality on Twitter</a>
          </li>
        </ul>
      </p>
      {% include mailchimp-subscribe.html %}
    </div>
  </section>

    <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48118073-1', 'codeequality.org');
  ga('send', 'pageview');


</script>