
<div class="row">

{% for post in site.posts %}

<div class="col-md-6">
	<div class="ce-event-card">
		<div class="ce-thumbnail">
			<div class="ce-thumbnail-image">
				<img src="{{post.eventImage}}"/>
				<span class="ce-thumb-label">{{post.type}}</span>
			</div>
		</div>
		<div class="ce-event">
			<h3>{{post.title}}</h3>
			<table class="ce-event-logistics">
				<tr>
					<td>{{post.eventDate}}</td>
					<td>{{post.eventVenue}}</td>
				</tr>
			</table>
			</p>
				{{post.excerpt}}
			</p>
			<div class="ce-event-details well ce-default-hidden">
				<p class="ce-secondary-text">
					{{post.content}}
				</p>
			</div>
			<p>
				<a class="btn btn-default ce-btn-show-details" href="#" role="button">View details &raquo;</a>
			</p>

		</div>
	</div>
</div>

{% endfor %}
</div>