---
layout: default
---

<html>
	<head>
		<title>{{page.title}} | Code Equality</title>
	</head>

	<body>
		<section class="ce-container">
			<div class="ce-event-header" 
			>
				<div class="container ce-event-header-text">
					<img class="ce-event-header-image" style="display: inline-block; " src="{{page.eventImage}}"/>
					<h1>{{page.title}}</h1>
					<p class="ce-event-description">
						{{page.excerpt}}
					</p>
					<table class="ce-event-logistics">
						<tr>
							<td>{{page.eventDate}}</td>
							<td>{{page.eventVenue}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="ce-event-details">
				<div class="container">
					<p>
						{{content}}
					</p>

					<p>
					<span class="ce-event-date-posted">
						Posted {{page.date | date_to_string}}
					</span>
					</p>

					<p><a href="/index.html#events"> &laquo; Back to events</a>
				</div>
			</div>
		</section>

	</body>

</html>