---
layout: default
---

<html>
	<head>
		<title>{{page.title}} | Code Equality</title>
	</head>

	<body>
		<section class="ce-container">
			<div class="ce-event-header" 
			>
				<div class="container ce-event-header-text">
					<a class="ce-event-header-image-container" href="{{page.eventImage}}" target="_blank"><img class="ce-event-header-image" style="display: inline-block; " src="{{page.eventImage}}"/></a>
					<h1>{{page.title}}</h1>
					<p class="ce-event-description">
						{{page.excerpt}}
					</p>
					<table class="ce-event-logistics">
						<tr>
							<td>{{page.eventDate}}</td>
							<td>{{page.eventTime}}</td>
							<td>{{page.eventVenue}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="ce-event-details">
				<div class="container">
					<p>
						{{content}}
					</p>
					<div class="ce-event-details-footer">
						<p>
						<span class="ce-event-date-posted">
							Posted {{page.date | date_to_string}}
						</span>
						</p>

						<p><a href="/index.html#events"> &laquo; Back to events</a></p>
					</div>
				</div>
			</div>
		</section>

	</body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48118073-1', 'codeequality.org');
  ga('send', 'pageview');


</script>
</html>